body {
  background-color: #F7EDF0; /* White background */
}

.app-container {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  background-color: #F7EDF0;
  border-bottom-width: 0.00cm;
}

.app-container2 {
  max-width: 1280px;
  border-top-width: 0.06cm;
  border-bottom-width: 0.06cm;
  border-left-width: 0.06cm;
  border-right-width: 0.06cm;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #000000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo , .secondary-logo img {
  max-height: 50px; /* Adjust the height of your logos */
}

.icons {
  display: flex;
}

.search-bar {
  margin-top: 1rem;
  margin-bottom: 1rem; 
  display: flex;
  align-items: center;
  background-color: #F7EDF0;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.582);
}

.search-bar input {
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 60px;
  margin-right: 1rem;
}

.contained-button {
  background-color: #0033A0;
  border-radius: 4px;
  cursor: pointer;
}

.outlined-button {
  background-color: #0033A0;
  border-radius: 4px;
  cursor: pointer;
}

.secondary-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex: 2;
}

.secondary-logo img {
  max-height: 100px;
  margin-right: 1rem;
}

.secondary-organization-name {
  font-size: 1.0rem;
  font-weight: bold;
}

.main-logo {
  display: flex;
  align-items: center;
  margin-top: 1rem; /* Add margin between secondary logo and main logo */
  max-height: 50px;
}

.main-logo img {
  max-height: 100px;
  margin-right: 1rem;
}

.organization-name {
  font-size: 2.0rem;
  font-weight: bold;
  color: #0033A0;
}

.higher-edu-text {
  font-size: 2.2rem; /* You can adjust the font size as needed */
  font-weight: bold;
}

.address-info {
  font-size: 1rem;
  color: #0033A0; /* Adjust the color as needed */
  font-weight: bold;
  margin-left: 12.5rem;
  margin-top: 0.1rem;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #F7EDF0;
  padding: 2rem;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.modal-content h2 {
  margin-bottom: 1rem;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
}

.modal-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.date-inputs {
  display: flex;
}

.date-inputs input {
  flex: 1;
  margin-right: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: space-between; 
}

.modal-content button {
  margin-right: 2px;
  background-color: #0033A0;
  border-radius: 60px;
}

.modal-content button:last-child {
  margin-left: auto;
  background-color: #0033A0;
  border-radius: 60px;
}

/*Table*/
.table-container {
  max-width: 100%;
  margin: 2rem auto;
  border: 1px solid #5a5858;
  border-radius: 15px;
  overflow: auto;
  max-height: 400px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-container table th,
.table-container table td {
  padding: 8px 88px;
  text-align: left;
}

table th {
  background-color: #ffffff;
  font-weight: bold;
}

table td {
  background-color: #ffffff;
  border-top: 2px solid #989696;
}

table tr:nth-child(even) {
  background-color: #d129d1;
}

tr:hover {
  background-color: #C80F2E;
}

table td.actions {
  display: flex;
  justify-content: space-between;
  
}


table .view-btn,
table .edit-btn,
table .delete-btn {
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 0 4px;
}

.table-container table .view-btn {
  background-color: #0033A0;
  color: #ffffff;
}

.table-container table .edit-btn {
  background-color: #ffffff;
  border: 2px solid #0033A0;
  color: #0033A0;
}

.table-container table .delete-btn {
  background-color: #C80F2E;
  color: #ffffff;
}
